* {
    font-size: medium;
}

.head {
    width: 100%;
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head h1 {
    margin: 10px;
    padding: 10px;
    color: white;
}

#title {
    font-size: 24pt;
}

#exit {
    font-size: 20pt;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: rgba(0, 0, 0, 0.848);
}

td, th {
    text-align: left;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.442);
    padding: 10px;
}

th {
    background-color:#2980b9;
    color: white;
    position: sticky;
    top: 0;
}

#search { 
    position: fixed;
    bottom: 20px;
    right: 20px;
}

input {
    border: 0;
    box-shadow: 0px 0px 6px gray;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 30vw;
}

a {
	text-decoration: none;
	color: white;
	font-size: larger;
	font-weight: bold;
	float: left;
}